@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --green: #000;
  --dark-color: #444;
  --black: #3d91e6;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar {
  width: 0px; /* set the width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;
  /* set the background color of the track */
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--black);
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background: var(--dark-color);
}

.header .header-1 {
  background: #fff;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-1 .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header-1 .icons div,
.header .header-1 .icons .a {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: var(--black);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons .a:hover {
  color: var(--green);
  transform: translateY(-5px);
}

.header .header-2 {
  background: var(--black);
}

.header .header-2 .navbar {
  text-align: center;
}

.header .header-2 .navbar a {
  color: #fff;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
  background: white;
  color: var(--black);
}

.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.bottom-navbar {
  text-align: center;
  background: var(--black);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
}

.bottom-navbar a {
  font-size: 2.5rem;
  padding: 2rem;
  color: #fff;
}

.bottom-navbar a:hover {
  background: var(--dark-color);
}

.home {
  background: url(../../../public/images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5px;
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content {
  flex: 1 1 42rem;
}

.home .row .books-slider {
  flex: 1 1 42rem;
  text-align: center;
  margin-top: 2rem;
}

.home .row .books-slider a img {
  height: 25rem;
}

.home .row .books-slider a:hover img {
  transform: scale(0.9);
}

.home .row .books-slider .stand {
  width: 100%;
  margin-top: -2rem;
}

.home .row .content h3 {
  color: var(--black);
  font-size: 4.5rem;
}

.home .row .content p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.icons-container .icons {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.icons-container .icons .fas {
  font-size: 28px;
  color: var(--light-color);
  margin: 8px;
}

.icons-container .icons h3 {
  font-size: 15px;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.icons-container .icons p {
  font-size: 1.4rem;
  color: var(--light-color);
}

.featured .featured-slider .box {
  border: var(--border);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.featured .featured-slider .box .image {
  height: 100%;
  background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box .image img {
  width: 130px;
}
.featured .featured-slider .box .image img:hover {
  transform: scale(0.9);
}

.featured .featured-slider .box .content {
  background: #eee;
  /* padding: 1.5rem; */
}

.featured .featured-slider .box .content h3 {
  color: var(--black);
  font-size: 15px;
  height: 50px;
}

.featured .featured-slider .box .content .price {
  font-size: 12px;
  color: var(--black);
  padding-top: 1rem;
}

.featured .featured-slider .box .content .price span {
  font-size: 12px;
  color: var(--light-color);
  text-decoration: line-through;
}

.newsletter {
  background: url(../../../public/images/letter-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.newsletter form {
  max-width: 45rem;
  /* margin-left: auto; */
  text-align: center;
  padding: 5rem 0;
}

.newsletter form h3 {
  font-size: 2.2rem;
  color: #fff;
  padding-bottom: 0.7rem;
  font-weight: normal;
}

.newsletter form .box {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: var(--black);
  border-radius: 0.5rem;
  text-transform: none;
}

.newsletter form .box:focus {
  border: 2px solid blue;
}

.arrivals .arrivals-slider .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
  border: var(--border);
  margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover {
  border: var(--border-hover);
  /* border: 2px solid red; */
}

.arrivals .arrivals-slider .box .image img {
  height: 15rem;
}

.arrivals .arrivals-slider .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.arrivals .arrivals-slider .box .content .price {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
}

.arrivals .arrivals-slider .box .content .price span {
  font-size: 1.5rem;
  color: var(--light-color);
  text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i {
  font-size: 1.5rem;
  color: var(--green);
}

.deal {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 1.5rem;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px;
}

.deal .content {
  width: 70%;
}
.deal .fade-con {
  /* border: 2px solid rgb(0, 255, 34); */
  /* width: 100vw; */
  height: 100px;
  position: absolute;
  right: 5%;
  bottom: 0;
}
.deal .image {
  position: absolute;
  right: 0;
  /* top: -90px; */
  bottom: 0 !important;
  height: 100%;
}

.deal .image img {
  width: 150px;
  height: 200px;
}

.deal .content h3 {
  color: var(--green);
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.deal .content h1 {
  color: var(--black);
  font-size: 4rem;
}

@media (max-width: 300px) {
  .deal .fade-con {
    /* border: 2px solid rgb(0, 255, 34); */
    /* width: 100vw; */
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .deal .content {
    width: 60%;
    margin-top: -15px;
  }

  .deal .image img {
    width: 115px;
    height: 160px;
  }

  .deal .content h3 {
    color: var(--green);
    font-size: 15px;
    padding-bottom: 0.5rem;
  }

  .deal .content h1 {
    color: var(--black);
    font-size: 29px;
  }
}
@media (min-width: 768px) {
  .deal {
    height: 300px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100vw;
    max-width: 1500px;
    padding: 10px;
    position: relative;
  }
  .deal .content {
    /* border: 2px solid rgb(0, 255, 34); */
    width: 70%;
    margin-top: 50px;
    position: relative;
  }
  .deal .fade-con {
    /* border: 2px solid rgb(0, 255, 34); */
    /* width: 100vw; */
    height: 100px;
    position: absolute;
    right: 5%;
    bottom: 0;
  }

  .deal .image {
    right: 0;
    top: -150px;
    width: 350px;
    height: 400px;
  }

  .deal .image img {
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(0, 68, 255); */
  }

  .deal .content h3 {
    color: var(--green);
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
  }

  .deal .content h1 {
    color: var(--black);
    font-size: 4rem;
  }

  .deal .content p {
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
  }
}

/* reviews */

.reviews-con {
  /* border: 2px solid red; */
  display: flex !important;
  justify-content: space-between;
  overflow-x: scroll;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
}
.reviews-con .review-box {
  border: var(--border);
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  padding: 5px;
}

.reviews .review-box:hover {
  border: var(--border-hover);
}

.reviews .review-box img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews .review-box h3 {
  color: var(--black);
  font-size: 12px;
}

.reviews .review-box p {
  color: var(--light-color);
  font-size: 10px;
}

@media (min-width: 768px) {
  .reviews .review-box h3 {
    font-size: 20px;
  }
  .reviews .review-box p {
    font-size: 12px;
  }
}
.blogs .blogs-slider .box {
  margin: 2rem 0;
  border: var(--border);
}

.blogs .blogs-slider .box:hover {
  border: var(--border-hover);
}

.blogs .blogs-slider .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blogs .blogs-slider .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img {
  transform: scale(1.1);
}

.blogs .blogs-slider .box .content {
  padding: 1.5rem;
}

.blogs .blogs-slider .box .content h3 {
  font-size: 2.2rem;
  color: var(--black);
}

.blogs .blogs-slider .box .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

.footer {
  background: #000;
  margin: 100px 0 0 0;
  border-top-left-radius: 60px;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #fff;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .map {
  width: 100%;
}

.footer .share {
  padding: 1rem 0;
  text-align: center;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  background: var(--green);
  border: 2px solid white;
  margin: 0 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background: var(--black);
}

.footer .credit {
  border-top: var(--border);
  margin-top: 2rem;
  padding: 0 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--light-color);
  text-align: center;
}

.footer .credit span {
  color: #fff;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container.active {
  display: none;
}

.loader-container img {
  height: 10rem;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header .header-1 {
    padding: 2rem;
  }

  /* section {
    padding: 3rem 2rem;
  } */
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 0;
  }

  body {
    padding-bottom: 6rem;
  }

  .header .header-2 {
    display: none;
  }

  .header .header-1 {
    box-shadow: var(--box-shadow);
    position: relative;
  }

  .home .row .content {
    text-align: center;
  }

  .home .row .content h3 {
    font-size: 3.5rem;
  }

  .newsletter {
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .newsletter form {
    margin-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
#featured {
  margin-top: 50px;
}
#featured .swiper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
}

#featured .swiper .box {
  position: relative;
  margin: 5px;
}
@media (min-width: 768px) {
  #featured {
    margin-top: 50px;
    height: auto;
  }
  #featured .swiper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
  }

  #featured .swiper .box {
    position: relative;
    margin: 5px;
  }
  #featured .swiper .box img {
    width: 170px;
  }
}

.main-products-list {
  /* border: 2px solid red; */
  padding: 10px 5px;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly !important;
  align-items: center;
}
.main-products-list .products-single-con {
  margin: 5px;
  height: 360px;
  cursor: pointer;
}
.main-products-list .products-single-con .box {
  /* border: 2px solid rgb(0, 255, 26); */
  padding: 5px;
  border-radius: 10px;
}
.main-products-list .products-single-con .box img {
  /* border: 2px solid rgb(0, 255, 26); */
  height: 200px !important;
  width: 150px !important;
}
.main-products-list .products-single-con .box .content {
  /* border: 2px solid rgb(0, 255, 26); */
  width: 100%;
  padding: 2px 0;
}
.main-products-list .products-single-con .box .content h3 {
  /* border: 2px solid rgb(0, 255, 26); */
  height: auto;
}
.main-products-list .products-single-con .box .content .price {
  /* border: 2px solid rgb(0, 255, 26); */
  padding: 0;
}
.main-products-list .products-single-con .box .content .price span {
  /* border: 2px solid rgb(0, 255, 26); */
  padding: 0 5px;
}
.main-products-list .products-single-con .box .content a {
  /* border: 2px solid rgb(0, 255, 26); */
  padding: 3px 10px;
  width: 80%;
  cursor: pointer;
}
.see-more-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  font-size: 17px;
  color: var(--black);
  cursor: pointer;
}
@media (min-width: 819px) {
  .main-products-list .products-single-con {
    /* border: 2px solid rgb(76, 0, 255); */
    margin: 5px;
    height: 400px;
    width: 250px;
  }
  .main-products-list .products-single-con .box img {
    /* border: 2px solid rgb(0, 255, 26); */
    height: 230px !important;
    width: 180px !important;
  }
  .main-products-list .products-single-con .box .content h3 {
    /* border: 2px solid rgb(0, 255, 26); */
    height: auto;
  }
  .main-products-list .products-single-con .box .content .price {
    font-size: 17px;

    /* border: 2px solid rgb(0, 255, 26); */
  }
  .main-products-list .products-single-con .box .content .price span {
    font-size: 14px;
    padding: 0 5px;
    /* border: 2px solid rgb(0, 255, 26); */
  }
  .main-products-list .products-single-con .box .content a {
    /* border: 2px solid rgb(0, 255, 26); */
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
